*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#120e2e;
    color: #ffffff;
}
#container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    height: 80vh;
    width: 90vw;
    max-width: 600px;
    box-shadow: 0 8px 20px rgba(255, 0, 127, 0.4);
    background-color: #241c4f;
    border: 12px solid #ff007f;
    padding: 20px;
}
.menuContainer{
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 14px;
}
.arcadeScreen{
    background-color: #0d0921;
    border: 2px solid #00f0ff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#petSelect{
    background-color: #120e2e;
    color: #00f0ff;
    border: 2px solid #ff007f;
    border-radius: 6px;
    padding: 6px 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 0, 127, 0.3);
}
#petSelect:focus{
    border-color: #00f0ff;
    box-shadow: 0 0 12px;
}
.status{
    width: fit-content;
}
button {
    background-color: #7000ff;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #00f0ff;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 12px;
    transition: all 0.2s ease;
    box-shadow: 0 0 8px rgba(0, 240, 255, 0.4), inset 0 0 4px rgba(0, 240, 255, 0.2);
}

button:hover {
    background-color: #00f0ff;
    color: #120e2e;
    box-shadow: 0 0 15px #00f0ff;
    border-color: #ffffff;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px #00f0ff;
}
#rebootBtn{
    background-color: black;
    color: red;
}
#rebootBtn:hover{
    background-color: red;
    color: black;
}
.progressBar{
    border: solid 1px;
    border-radius: 4px;
    margin-top: 8px;
    accent-color: #00f0ff;
    width: 90%;
}
#stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}
.health{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pet{
    width: 64px;
    height: 64px;
    display: inline-block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    transform: scale(4);
}
.hidden{
    display: none !important;
}

#gameOverOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 6, 30, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 6px;
}

#gameOverText{
    font-family:'Courier New', Courier, monospace;
    color: #ff0055;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 10px;
    text-shadow: 0 0 8px #ff0055;
}
 
/* Bear */
.bear.happy{
    background: url("./assets/Pets/Bear/bear_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.bear.sleep{
    background: url("./assets/Pets/Bear/bear_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.bear.idle{
    background: url("./assets/Pets/Bear/bear_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.bear.jump{
    background: url("./assets/Pets/Bear/bear_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}
 
/* Bunny */
.bunny.happy{
    background: url("./assets/Pets/Bunny/bunny_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.bunny.sleep{
    background: url("./assets/Pets/Bunny/bunny_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infiniteChick
}
.bunny.idle{
    background: url("./assets/Pets/Bunny/bunny_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.bunny.jump{
    background: url("./assets/Pets/Bunny/bunny_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}
 
/* Cat */
.cat.happy{
    background: url("./assets/Pets/Cat/cat_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.cat.sleep{
    background: url("./assets/Pets/Cat/cat_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.cat.idle{
    background: url("./assets/Pets/Cat/cat_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.cat.jump{
    background: url("./assets/Pets/Cat/cat_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}
 
/* Chick */
.chick.happy{
    background: url("./assets/Pets/Chick/chick_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.chick.sleep{
    background: url("./assets/Pets/Chick/chick_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.chick.idle{
    background: url("./assets/Pets/Chick/chick_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.chick.jump{
    background: url("./assets/Pets/Chick/chick_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}
 
/* Dog */
.dog.happy{
    background: url("./assets/Pets/Dog/dog_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.dog.sleep{
    background: url("./assets/Pets/Dog/dog_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.dog.idle{
    background: url("./assets/Pets/Dog/dog_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.dog.jump{
    background: url("./assets/Pets/Dog/dog_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}

/* Dragon */
.dragon.happy{
   background: url("./assets/Pets/Dragon/dragon_happy_64.png") no-repeat left center;
   animation: play 0.8s steps(8) infinite;
}
.dragon.sleep{
   background: url("./assets/Pets/Dragon/dragon_sleep_64.png") no-repeat left center;
   animation: sleep 0.8s steps(8) infinite;
}
.dragon.idle{
   background: url("./assets/Pets/Dragon/dragon_idle_64.png") no-repeat left center;
   animation: idle 0.8s steps(8) infinite;
}
.dragon.jump{
   background: url("./assets/Pets/Dragon/dragon_jump_64.png") no-repeat left center;
   animation: jump 0.8s steps(8) infinite;
}

/* Fox */
.fox.happy{
    background: url("./assets/Pets/Fox/fox_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.fox.sleep{
    background: url("./assets/Pets/Fox/fox_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.fox.idle{
    background: url("./assets/Pets/Fox/fox_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.fox.jump{
    background: url("./assets/Pets/Fox/fox_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}

/* Frog */
.frog.happy{
    background: url("./assets/Pets/Frog/frog_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.frog.sleep{
    background: url("./assets/Pets/Frog/frog_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.frog.idle{
    background: url("./assets/Pets/Frog/frog_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.frog.jump{
    background: url("./assets/Pets/Frog/frog_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}
 
/* Panda */
.panda.happy{
    background: url("./assets/Pets/Panda/panda_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.panda.sleep{
    background: url("./assets/Pets/Panda/panda_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.panda.idle{
    background: url("./assets/Pets/Panda/panda_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.panda.jump{
    background: url("./assets/Pets/Panda/panda_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}
 
/* Penguin */
.penguin.happy{
    background: url("./assets/Pets/Penguin/penguin_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.penguin.sleep{
    background: url("./assets/Pets/Penguin/penguin_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.penguin.idle{
    background: url("./assets/Pets/Penguin/penguin_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.penguin.jump{
    background: url("./assets/Pets/Penguin/penguin_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}
 
/* Slime */
.slime.happy{
    background: url("./assets/Pets/Slime/slime_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.slime.sleep{
    background: url("./assets/Pets/Slime/slime_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.slime.idle{
    background: url("./assets/Pets/Slime/slime_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.slime.jump{
    background: url("./assets/Pets/Slime/slime_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}

/* Ghost */
.ghost.happy{
    background: url("./assets/Pets/Ghost/ghost_happy_64.png") no-repeat left center;
    animation: play 0.8s steps(8) infinite;
}
.ghost.sleep{
    background: url("./assets/Pets/Ghost/ghost_sleep_64.png") no-repeat left center;
    animation: sleep 0.8s steps(8) infinite;
}
.ghost.idle{
    background: url("./assets/Pets/Ghost/ghost_idle_64.png") no-repeat left center;
    animation: idle 0.8s steps(8) infinite;
}
.ghost.jump{
    background: url("./assets/Pets/Ghost/ghost_jump_64.png") no-repeat left center;
    animation: jump 0.8s steps(8) infinite;
}

@keyframes play {
    100% {background-position: -512px;}
}
@keyframes sleep {
    100% {background-position: -512px;}
}
@keyframes idle {
    100% {background-position: -512px;}
}
@keyframes jump {
    100% {background-position: -512px;}
}